html {
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  @include font400;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

img {
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: unset;
}

.overflow-h {
  overflow: hidden;
}

.container {
  width: 1208px;
  padding: 0 24px;
  margin: 0 auto;
  position: relative;
}

.container_flex_center {
  @include flex-center;
  justify-content: space-between;
}

.container_footer_grid {
  display: grid;
  grid-template-columns: 30% 1fr 30%;
  align-items: center;
  grid-template-areas:"copywriter payments feedback";
}

.logo {
  width: 247px;
  display: block;
}

.m-r-30 {
  margin-right: 30px;
}

.col-blue {
  color: $blue-btn;
}

.title {
  @include font800;
  font-size: 36px;
  line-height: 43px;
  color: $white;
  text-transform: uppercase;
}

.input {
  width: 100%;
  height: 48px;
  @include font400;
  @include fs-18-lh-22;
  color: $input-text;
  background-color: rgba($white, .85);
  border: 1px solid $white;
  border-radius: 3px;
  padding: 10px;

  &::placeholder {
    color: $input-text;
  }
}

.select-wrapper {
  width: 100%;
  height: 48px;
  position: relative;
  user-select: none;

  &.active {
    .default_option {
      background-color: rgba($footer-color, .95);
      border: 1px solid $footer-color;
      color: $white;

      &:before {
        top: 25px;
        transform: rotate(-225deg);
        color: $white;
        border-color: transparent transparent $white $white;
      }

      li {
        color: $white;
      }
    }

    .select_ul {
      display: block;
    }
  }
}

.default_option {
  height: 100%;
  position: relative;
  cursor: pointer;
  background-color: rgba($white, .85);
  border: 1px solid $white;
  border-radius: 3px;
  @include list-reset;

  &:before{
    content: "";
    position: absolute;
    top: 18px;
    right: 15px;
    width: 5px;
    height: 5px;
    border: 1px solid;
    border-color: transparent transparent $black $black;
    transform: rotate(-45deg);
  }

  li {
    padding: 10px 30px 10px 10px;
    height: 100%;
    display: flex;
    align-items: center;
    @include font400;
    font-size: 18px;
    line-height: 22px;
    color: $input-text;
  }
}

.select_ul{
  position: absolute;
  @include list-reset;
  top: 45px;
  left: 0;
  width: 100%;
  background: rgba($input-text, .95);
  display: none;
  border: 1px solid $footer-color;
  border-radius: 3px;
  padding: 8px 10px;
  max-height: 180px;
  overflow-x: hidden;
  overflow-y: auto;

  &{
    scrollbar-width: auto;
    scrollbar-color: $blue-btn $footer-color;
  }

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background:$footer-color;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $blue-btn;
    border-radius: 3px;
    border: 0px solid $blue-btn;
  }

  li {
    @include font400;
    font-size: 18px;
    line-height: 34px;
    color: $white;

    &:hover {
      color: $slider-thumb;
      cursor: pointer;
    }
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include flex-center-justify;
  background: #ffffff;
  z-index: 10;

  .lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $blue;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

#preloader.hide-preloader {
  animation: hidePreloader 1s;
}

#preloader.preloader-hidden {
  display: none;
}

@keyframes hidePreloader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.uppercase-text {
  text-transform: uppercase;
}

.footer_border_left {
  border-left: 1px solid $gray-footer;
}

.copywriter {
  @include font400;
  @include fs-13-lh-16;
  color: $white;
}

.icon-text-block {
  @include flex-center-justify;
}

.icon-text-block__text {
  @include font400;
  @include fs-13-lh-16;
  margin-left: 10px;
  color: $gray-footer;
  flex: 0 0 auto;
}

.icon-text-block__icon {
  width: 20px;
  height: 20px;
}

.desc-text {
  @include font400;
  @include fs-18-lh-22;
  color: $gray-text;
}

.link-blue-btn {
  @include flex-center-justify;
  height: 43px;
  border: 1px solid $white;
  background-color: $blue-btn;
  border-radius: 4px;
  @include font400;
  @include fs-13-lh-16;
  text-transform: uppercase;
  color: $white;
  padding: 10px;

  &:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
}

.link-white-btn {
  @include flex-center-justify;
  height: 43px;
  border: 1px solid $border-btn;
  background-color: $white;
  border-radius: 4px;
  @include font400;
  @include fs-13-lh-16;
  text-transform: uppercase;
  color: $gray;
  transition: ease-out 0.5s;
  position: relative;
  padding: 10px;

  &:after, &:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    transition: .5s;
    border-radius: 4px;
  }

  &:after {
    top: -1px;
    left: -1px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
  }

  &:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
  }

  &:hover {
    animation: pulse 1s ease-out .4s;
    color: $white;
    background-color: $blue-btn;

    &:after, &:before {
      width: 100%;
      height: 100%;
      border-color: #222222;
    }
  }
}

.list-items {
  @include list-reset;
}

.list-items__item {
  @include font400;
  @include fs-20-lh-24;
  margin-bottom: 5px;
  margin-left: 10px;
  padding-left: 15px;
  position: relative;

  &:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 12px;
    width: 5px;
    height: 1.5px;
    background-color: $black;
  }
}

.mobile-select {
  cursor: pointer;
  background-color: rgba($white, .85);
  border: 1px solid $white;
  border-radius: 3px;
  height: 100%;
  position: relative;

  &:before{
    content: "";
    position: absolute;
    top: 18px;
    right: 15px;
    width: 5px;
    height: 5px;
    border: 1px solid;
    border-color: transparent transparent $black $black;
    transform: rotate(-45deg);
  }
}

.mobile-select__select {
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 10px 30px 10px 10px;
  @include font400;
  font-size: 18px;
  line-height: 22px;
  color: $input-text;
  height: 100%;
  cursor: pointer;
}
