@media only screen and (max-width: 1208px) {
  .container {
    width: 100%;
  }

  .container_footer_grid {
    grid-template-columns: 50%;
    grid-template-areas:
      "payments payments feedback"
      "copywriter copywriter copywriter";
  }

  .footer__copywriter {
    text-align: center;
  }

  .types-payments__item, .feedback_col {
    margin-left: 22px;
    margin-bottom: 20px;
  }

  .types-payments.footer_border_left, .feedback.footer_border_left {
    border-left: none;
  }

  .types-payments {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .feedback {
    grid-template-columns: 1fr 1fr
  }

  .main-scheme-work__row {
    &>div:nth-child(10n+1) {
      display: block;
    }

    &>div:nth-child(6n+1) {
      display: none;
    }

    &>div:first-child {
      display: none;
    }
  }

  .main-scheme-work__column {
    width: 33%;
  }
}

@media only screen and (max-width: 1024px) {
  .main-body {
    .container {
      padding-top: 100px;
      padding-bottom: 30px;
    }
  }

  .header {
    height: 65px;
  }

  .logo {
    width: 190px;
  }

  .header__toggle {
    display: block;
  }

  .menu_desktop {
    display: none;
  }

  .container {
    padding: 0 14px;
  }
}

@media only screen and (max-width: 992px) {
  .main-body__title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 48px;
  }

  .main-body__description-box {
    margin-bottom: 48px;
  }

  .main-body__description-text, .main-body__item {
    font-size: 16px;
    line-height: 20px;
  }

  .main-form-input-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(47%, 1fr));
  }
}


@media only screen and (max-width: 768px) {
  .parallax {
    background-position: left;
  }

  .main-body__title, .main-body__description-box {
    width: 100%;
  }

  .container_footer_grid {
    grid-template-columns: 100%;
    grid-template-areas:
        "payments payments payments"
        "feedback feedback feedback"
        "copywriter copywriter copywriter";
  }

  .types-payments, .feedback {
    grid-template-columns: 100%;
  }

  .types-payments__item, .feedback_col {
    margin-left: 0;
    justify-content: center;
  }

  .main-content {
    padding: 80px 0;
  }

  .main-form-range-file {
    flex-flow: column;
  }

  .main-form-range {
    width: 100%;
    margin-bottom: 30px;
  }

  .main-form-file {
    width: 100%;
    margin: 0;
    min-width: auto;
  }

  .btn-submit {
    width: 100%;
    min-width: auto;
  }

  .main-scheme-work__row {
    &>div:nth-child(10n+1) {
      display: block;
    }

    &>div:nth-child(6n+1) {
      display: block;
    }

    &>div:nth-child(4n+1) {
      display: none;
    }

    &>div:first-child {
      display: none;
    }
  }

  .main-scheme-work__column {
    width: 50%;
  }
}

@media only screen and (max-width: 576px) {
  .main-form-input-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

  .main-scheme-work__row {
    &>div:nth-child(10n+1) {
      display: block;
    }

    &>div:nth-child(6n+1) {
      display: block;
    }

    &>div:nth-child(4n+1) {
      display: block;
    }

    &>div:nth-child(2n+1) {
      display: none;
    }

    &>div:first-child {
      display: none;
    }
  }

  .main-scheme-work__column {
    width: 100%;
  }
}
