// font
$first-font: "Lato";


// Color
$white: #fff;
$black: #000;
$blue: #43ABF0;
$blue-btn: #3E9CDC;
$border-btn: #6F6D7B;
$gray: #2A2B30;
$gray-text: #BBBBBB;
$gray-footer: #C3C3C3;
$input-text: #272733;
$footer-color: #3D4050;
$slider-thumb: #42A9ED;
$slider-thumb-border: #286690;
$separator: #C4C4C4;

// Gradients


// Dimensions

