.types-payments {
  border-left: 1px solid $gray-footer;
  display: grid;
  grid-template-columns: 30% 33% 30%;
  grid-area: payments;
}

.types-payments__item {
  margin-left: 36px;
  position: relative;
  overflow: hidden;
}

