.main-body {
  width: 100%;
  min-height: 100vh;
  @include flex-center-justify;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  .container {
    padding-top: 130px;
    padding-bottom: 30px;
  }
}

.main-body_bg_img {
  background-image: url("../img/main.jpg");
}

.main-body__title {
  width: 768px;
  @include font700;
  font-size: 48px;
  line-height: 58px;
  color: black;
  text-transform: uppercase;
  margin-bottom: 88px;
}

#animation-text-1, #animation-text-2 {
  div {
    display: inline-block;
  }
}

.main-body__description-box {
  width: 768px;
  margin-bottom: 80px;
}

.main-body__description-text {
  @include font700;
  @include fs-20-lh-24;
  color: black;
  margin-bottom: 10px;
}

.main-body__link-block {
  @include flex-center;
}

.main-body__link {
  width: 183px;
}
